@model ViewModelInstructorsWithCoursesAndDepartments
@{
    ViewData["Title"] = "Edit";
}

<form method="post">
    <label for="InstName">Name</label>
    <input type="text" class="form-control" value="@Model?.instructor.Name" id="InstName" name="Name" placeholder="Enter Name">
    <label for="Image">Image</label>
    <input type="text" accept="image/*" class="form-control" value="@Model?.instructor.Image" name="Image" id="Image" placeholder="Image">
    <label for="InstSalary">Salary</label>
    <input type="number" class="form-control" value="@Model?.instructor.Salary" name="Salary" id="InstSalary" placeholder="Salary">
    <label for="INStaddress">Address</label>
    <input type="text" class="form-control" value="@Model?.instructor.Address" name="Address" id="INStaddress" placeholder="Address">
    <label for="Course.CourseID">Courses</label>
    <select name="Course.CourseID" id="Course.CourseID" class="form-control">
        @foreach (Course c in Model.Courses)
        {
            if (Model?.instructor.Course.CourseID == c.CourseID)
            {
                <option value="@c.CourseID" selected>@c.Name</option>
            }
            else
            {
                <option value="@c.CourseID" >@c.Name</option>
            }
        }

    </select>
    <label for="Department.DepartmentID">Departments</label>

    <select name="Department.DepartmentID" id="Department.DepartmentID" class="form-control">
        @foreach (Department d in Model.Departments)
        {
            if (Model?.instructor.Department.DepartmentID == d.DepartmentID)
            {
                <option value="@d.DepartmentID" selected>@d.Name</option>
            }
            else
            {
                <option value="@d.DepartmentID">@d.Name</option>
            }
        }

    </select>

    <br />
    <br />
    <button type="submit" class="btn btn-primary">Edit Instructor</button>
</form>

